absl-py
asttokens
astunparse
bcrypt
certifi
cffi
charset-normalizer
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
flatbuffers
fonttools
gast
google-pasta
greenlet
grpcio
h5py
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
numpy
opt_einsum
optree
packaging
pandas
paramiko
parso
patsy
pexpect
pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
Pygments
PyMySQL
PyNaCl
pyparsing
python-dateutil
pytz
pyzmq
requests
rich
scikit-learn
scipy
six
SQLAlchemy
sshtunnel
stack-data
statsmodels
tensorboard
tensorboard-data-server
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
